<html>
    <head>
        <meta charset="UTF-8">
        <title>Pignus API</title>
    </head>
    <body style="background-color:#352F33">
        <div style="text-align: center;">
        <%= image_tag("PignusLogo.png", :alt => "Pignus Civitas") %>
    </div>
    </body>
</html>