<h1>Editing Check Vehicle Status</h1>

<%= render 'form', check_vehicle_status: @check_vehicle_status %>

<%= link_to 'Show', @check_vehicle_status %> |
<%= link_to 'Back', check_vehicle_statuses_path %>
